<div class="book">
  <p class="title">   </p>
  <p class="author">by  </p>
  <p class="publisher"></p>
  <p class="description">  </p>
</div>
<!-- We are rendering the review information for the book that was clicked on -->
<div class="reviews">
  <% @reviews.each do |review| %>
    <div class="review">
      <p class="author"> <%=review.author%> </p>
      <p class="comment"> <%=review.comment%> </p>
    </div>
  <% end %>
</div>