<!DOCTYPE html>
<html>
  <head>
    <title>BookmarksRubyOnRails</title>
<%= stylesheet_link_tag 'book.css' %>
<link href='http://fonts.googleapis.com/css?family=Domine' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Merriweather:300italic,300' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
